 table {
     /*width: 50%;*/
     border-collapse: collapse
 }
 
 th,
 td {
     border-style: solid;
     border-width: 1px;
     padding: 5px;
 }
 
 th {
     border-color: green;
 }
 
 td {
     border-color: brown;
     text-align: center
 }